<div class="iconbar">
	<a asp-area="" asp-controller="Home" asp-action="Index"><img width ="35px" height="35px" src="~/home.png">  Home</a>
	<a asp-area="" asp-controller="Home" asp-action="Pavao"><img width ="35px" height="35px" src="~/pavao.png">  Pavões</a>
	<a asp-area="" asp-controller="Home" asp-action="Ganso" ><img width ="35px" height="35px" src="~/goose.png">  Gansos</a>
	<a asp-area="" asp-controller="Home" asp-action="Garnize"><img width ="35px" height="35px" src="~/rooster.png">  Garnizés</a>
	<a asp-area="" asp-controller="Home" asp-action="FaleConosco"><img width ="35px" height="35px" src="~/message.png">  Fale Conosco</a>
	<a asp-area="" asp-controller="Home" asp-action="Message"><img width ="35px" height="35px" src="~/sent.png">  Recebidas</a>
</div>

<br><br><br><center><h1 class="heitor">Confirmado com sucesso!</h1></center><br>
<br><br><br>
<center><a asp-action="FaleConosco" class="gomes" font-size="20px">Escrever novo recado</a></center>
<br><br>
<center><a asp-action="Message" class="gomes" font-size="20px">Vê os Recados enviados</a></center>
